/*******************************************
/ File: style.css
/ Author: Ethan Harte
/ Description: sylesheet for EthanHarte.com
/*******************************************/

h1 {
	//text-align:center;
	color:#004477;
}

body {
	//background-color: white;
	background-image: url(images/bg.jpg);
}


/*Div Classes*/
.container {
	position: fixed;
	width: 1000px;
	height:100%;
	left: 50%;
	margin-left:-500px;
	top:200px;	
}

.banner {
	z-index:99;
	position:fixed;
	width:1000px;	
	height:182px;
	top:0;
	background-image:url(images/bg_banner_small.png);
}

.navigation {
	z-index:0;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	margin-top:-40px;
	background-color: #dedede;
}

.navigationButtons {
	z-index:100;
	//position:relative;
	text-align:center;
	float:left;
	width:200px;
	height:50px;
}

.bodyContent {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 15px;
	//text-align:center;
	background-color:#ffffff;
	width:970px;
	height: 65%;
}

.footer {
	margin: 0 auto;
	width:250px;
	height:150px;
}

.footerIcon {
	float: left;
	width: 50px;
	height: 50px;
}

/*Links*/
a:link {
    color: #405B58;
    text-decoration: none;
}

a:visited {
    color: #405B58;
    text-decoration: none;
}

a:hover {
    color: #83A6CE;
    text-decoration: blink;
}

a:active {
    color: #83A6CE;
    text-decoration: underline;
}